@font-face {
  font-family: 'coolvetica';
  src: url(coolvetica.otf); 
}

body {
  color: white;
  font-size: xx-large;
  font-family: 'coolvetica';
}

.scene {
  display: inline-block;
  perspective: 1000px;
}

.card {
  height: 80vh;
  width: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.5s;
}

.card.is-flipped {
  transform: rotateX(180deg); /* Flip the card along the X-axis */
}

.card__face {
  border-radius: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson; /* Set the background color for the front face */
  transform: rotateX(0deg); /* No rotation on the front face */
}

.card__face--back {
  background: slateblue; /* Set the background color for the back face */
  transform: rotateX(180deg); /* Rotate the back face along the X-axis */
}

.center{
  margin-left: 22%;
}
