
body {
  color: black;
  background-color: #222831;
  font-size: xx-large;
  font-family: 'coolvetica';
  height: 100%;
  width: 100%;
text-decoration: none;

}

a{
  text-decoration: none;
color: black;
}

/* Define the buttons class and the hover effect */
.buttons {
  display: inline-block;
  border-radius: 100px;
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.buttons:hover {
  background-color: black; /* Change the background color on hover */
  color: white;
}
/* Define styles for words and meanings */
.word {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.meaning {
  display: none; /* Initially hide meanings */
  font-size: 18px;
}



.scene {

  perspective: 1000px;
  /* You can set a fixed size for the scene if needed */
  width: 200px;
  height: 200px;
}

.center {

margin-left: -8%;
  /* Ensure .center takes up the full viewport */
  height: 70%;
  display: flex;
  justify-content: center;
}

.card {
  /* Set percentage-based dimensions relative to its parent .center */
  height: 100%;
  width: 130%;

  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;

  transition: transform 0.5s;
}

.card.is-flipped {
  transform: rotateX(180deg);
}

.card__face {
  border-radius: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  color: #222831;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: #EEEEEE;
  transform: rotateX(0deg);
}

.card__face--back {
  background: #FF9494;
  transform: rotateX(180deg);
}
